<div class="dashboard-container">
  <div>
    <h2>Dashboard</h2>
    <button mat-raised-button color="primary" (click)="refresh()">Rafraichir</button>
  </div>

  <div class="stats-cards">
    <mat-card>
      <mat-card-title>
        Consultants disponibles 
      </mat-card-title>

      <mat-card-content>
        {{stats?.consultants?.AVAILABLE ??  0}}
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>
        Missions actives 
      </mat-card-title>

      <mat-card-content>
        {{stats?.missions?.ACTIVE ?? 0}}
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>
        Positionnement présentés
      </mat-card-title>

      <mat-card-content>
        {{stats?.positionnements?.PRESENTE_AU_CLIENT ?? 0}}
      </mat-card-content>
    </mat-card>
  </div>
  
</div>

